
body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

h3 {
    color: #34495e;
    margin-top: 30px;
}



button {
    padding: 8px 15px;
    font-size: 16px;
    background-color: #414446;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.quadro1{
    float: left;
    padding-right: 100px;
}

.quadro2{
    padding-top: 4px;
}

h3:nth-of-type(1) { color: rgb(28, 41, 28); } 
h3:nth-of-type(2) { color: rgb(194, 184, 184); }    
h3:nth-of-type(3) { color: rgb(131, 131, 143); }  
h3:nth-of-type(4) { color: rgb(109, 101, 86); } 

footer {
    text-align: center;
    margin-top: 40px;
    color: #777;
    font-size: 14px;
}


