
body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

h3 {
    color: #34495e;
    margin-top: 30px;
}



button {
    padding: 8px 15px;
    font-size: 16px;
    background-color: #414446;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.quadro1{
    float: left;
    padding-right: 100px;
}

.quadro2{
    padding-top: 4px;
}
